{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout de la catégorie :</h1>
    <form method="post">
        <input type="text" name="libelle" placeholder="Libelle">
        <input type="text" name="icon" placeholder="Icone">

        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}