{% extends "base.html.twig" %}

{% block body %}
    <h1>Détail de la catégorie</h1>
    <p>{{ categorie.libelle }}</p>
    <p>{{ categorie.icon|raw }}</p>
    <p><a href="/categorie/update/{{ categorie.id }}"> Modifier cette super Categorie </a></p>
    <p><a href="/categorie/delete/{{ categorie.id }}"> Supprimer cette super Catégorie </a></p>
    
{% endblock %}